#slider-op {
	width: 100%;
}

#slider-op img {
	width: 100%;
}

.footer-top-left img {
	width: 50%;
	margin-bottom: 4%;
}

.pagoscontainer .containerpro {
	border: 2px solid red;
	border-radius: 200px;
	padding: 10%;
	width: 213px;
	text-align: center;
	height: 213px;
	margin: 0 auto;
	cursor: pointer;
}

.pagoscontainer .containerpro img {
	width: 100%;
}

.pagoscontainer i {
	color: #b1b1b1;
	font-size: 70px;
	margin-bottom: 20px;
}

.pagoscontainer h3 {
	font-size: 14px;
}

.margin-top {
	margin-top: 50px;
}

label {
	text-transform: capitalize;
}

.link-black {
	text-decoration: none;
	color: black;
	text-align: left;
	font-size: 13px;
}

.link-black {
	text-align: center !important;
}

.widget h5 {
	font-size: 17px;
}

.text-center {
	text-align: center;
}

.header-information .fa {
	color: #DDDDDD;
	font-size: 2.4em;
	margin: 0px 20px 0 0;
}

.collapse-share {
	background: white;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
}

.filter {
	background: #fffc;
}

.text-center {
	text-align: center !important;
}

.footer-bottom a {
	color: white;
}

.footer-bottom a:hover {
	color: #E0E0E0;
	text-decoration: none;
}

.whatsapp {
	display: none;
}

@media (max-width: 769px) {
	.whatsapp {
		display: block;
	}
}

.modal-body {
	background-color: #E0E0E0;
}

.listing-detail p,
.post-detail p {
	color: #737373;
	margin: 0 0 10px 0;
	text-align: justify;
}

a.wap {
	width: 80px;
	height: 80px;
	padding: 4px 11px 0px 12px;
	font-size: 38px;
	position: fixed;
	z-index: 999;
	right: 43px;
	top: 75%;
	color: white;
	background: #27ae61 no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 40px;
	vertical-align: text-top !important;
}

.vatt {
	vertical-align: text-top !important;
	max-width: 100%;
}


.afydiLogo {
	width: 50%;
	padding-top: 15px;
}